@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --adress-color: rgba(255, 255, 255, 0.6);
  --logo-black: #000000;
  --logo-white: #ffffff;
  --background-color: #2f303a;
  --button-color: #ffffff;
  --background-button-color: #f5f4fa;
  --background-icon-color: #afb1b8;
  --card-gep-top: 30px;
  --card-gep-left: 30px;
  --card-item: 1;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.container {
  /* Ширина по макету 1170+15+15 */
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .card-set {
    --card-item: 2;
  }
}
@media screen and (min-width: 1200px) {
  .card-set {
    --card-item: 4;
  }
}

.card-item {
  flex-basis: calc((100% - (var(--card-item) - 1) * var(--card-gep-left)) / var(--card-item));
}

.socials {
  display: flex;
}

.socials__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.socials__item:last-child {
  margin-right: 0px;
}

.socials__link {
  width: 100%;
  height: 100%;
  background-color: var(--button-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}

.socials__icon {
  transition: fill var(--transition);
  fill: var(--background-icon-color);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: var(--button-color);
}

.logo-black {
  color: var(--logo-black);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  display: flex;
}

.logo-white {
  color: var(--logo-white);
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--button-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  transition: background var(--transition);
}
.button:hover, .button:focus {
  background: #188ce8;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 30px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.button-list__item {
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--background-button-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  border: none;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list__item:hover, .button-list__item:focus {
  background-color: var(--accent-color);
  color: var(--background-button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
  column-gap: 8px;
  row-gap: 15px;
  flex-wrap: wrap;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .button-list {
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .button-list {
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 94px;
  }
}

.button-title {
  position: relative;
}

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity var(--transition), visibility 350ms;
}

.modal {
  max-width: 450px;
  width: 100%;
  height: 609px;
  background: var(--background-button-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition);
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 23px;
  }
}

.svg-button-modal {
  fill: var(--logo-black);
  transition: fill var(--transition);
}
.svg-button-modal:focus, .svg-button-modal:hover {
  fill: var(--accent-color);
}

.button-modal-clouse {
  width: 30px;
  height: 30px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.button-modal-clouse:focus .svg-button-modal, .button-modal-clouse:hover .svg-button-modal {
  fill: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  cursor: pointer;
  transition: border var(--transition);
}
.modal-input:focus, .modal-input:hover {
  border: 1px solid var(--accent-color);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition);
}
.modal-input:focus + .modal-icon, .modal-input:hover + .modal-icon {
  fill: var(--accent-color);
}

.modal-label {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
  display: block;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: none;
}

.color-contract {
  color: var(--accent-color);
}

.checkbox-text {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
}
@media screen and (min-width: 1200px) {
  .checkbox-text {
    font-size: 14px;
    line-height: 1.71;
  }
}
.checkbox-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 9px;
}
.modal-check:checked + .checkbox-text::before {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  border: 2px solid var(--title-text-color);
  background-repeat: no-repeat;
  background-position: center;
}
.modal-check:hover + .checkbox-text::before, .modal-check:focus + .checkbox-text::before {
  border: 2px solid var(--accent-color);
}

.modal-check {
  margin-left: 13px;
}

.subscribe-btn-icon {
  margin-left: 10px;
  fill: var(--button-color);
}

.input-wrap {
  position: relative;
}

.mailing-list {
  display: flex;
}

.menu-mob-logo {
  fill: var(--title-text-color);
  transition: fill var(--transition);
}
.menu-mob-logo:hover, .menu-mob-logo:focus {
  fill: var(--accent-color);
}

.btn-menu-mob-op {
  display: block;
  margin-left: auto;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btn-menu-mob-op {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .btn-menu-mob-op {
    display: none;
  }
}

.btn-menu-mob-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  margin-left: auto;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.menu-close-logo {
  fill: var(--title-text-color);
  transition: fill var(--transition);
}
.menu-close-logo:hover, .menu-close-logo:focus {
  fill: var(--accent-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100%;
  z-index: 1;
  padding: 48px 40px;
}
.mob-menu .menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
}

.mob-menu-nav {
  margin-bottom: 40px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.mob-menu-auth-nav {
  margin-bottom: 64px;
}

.mob-nav .mob-menu-link:hover,
.mob-nav .mob-menu-link:focus,
.active {
  color: var(--accent-color);
}

.mob-menu-auth-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mob-menu-auth-nav .mob-menu-auth-link:hover,
.mob-menu-auth-nav .mob-menu-auth-link:focus,
.active {
  color: var(--accent-color);
  display: flex;
}

.mob-menu-auth-nav .mob-menu-auth-mail:hover,
.mob-menu-auth-nav .mob-menu-auth-mail:focus {
  color: var(--accent-color);
  display: flex;
}

.mob-menu-auth-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mob-menu-soc-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-soc-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu-soc-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.page-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border: 1px solid #ececec;
}
.page-header .logo {
  margin-right: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .page-header .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    display: flex;
    margin-left: 93px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .site-nav .item:not(:last-child),
.auth-nav .item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .link,
.auth-nav .link {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav .link,
.auth-nav .link {
    display: flex;
  }
}

.site-nav {
  display: flex;
  align-items: center;
  gap: 50px;
  color: var(--title-text-color);
}

.site-nav .link::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -1px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover::after,
.site-nav .link:focus::after,
.site-nav .active::after {
  opacity: 0;
}

.auth-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
  }
}

.nav-list {
  display: flex;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.active {
  color: var(--accent-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
  display: flex;
}

.auth-nav-logo,
.auth-nav-logo {
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.auth-nav .link:hover .auth-nav-logo,
.auth-nav .link:focus .auth-nav-logo {
  fill: var(--accent-color);
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.overlay {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-bg-mob.jpg");
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-bg-mob-x2.jpg");
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-bg-tab.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-bg-tab-x2.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    background-size: 1600px auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-bg-desk-x2.jpg");
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  text-align: center;
  color: var(--button-color);
  margin-bottom: 30px;
  max-width: 360px;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.features-list__item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-button-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.features-list__title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.14;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .features-list__title {
    text-align: inherit;
  }
}

.process-list {
  --card-gep-top: 50px;
  --card-gep-left: 30px;
  --card-item: 3;
}

.item-worck {
  position: relative;
}

.tex-position {
  position: absolute;
  font-weight: 700;
  line-height: 16px;
  color: var(--button-color);
  text-transform: uppercase;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-worck {
  padding-top: 0px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .section-worck {
    display: block;
  }
}

.team-list__title {
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.team-list__text,
.team-list__title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-list__text {
  margin-bottom: 16px;
}

.team-list__list {
  --card-item: 4;
}

.team-list__con {
  padding: 30px;
}

.team-list__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-team {
  background-color: var(--background-button-color);
}

.clients {
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .clients {
    font-size: 28px;
    line-height: 33px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    font-size: 36px;
    line-height: 42px;
  }
}

.clients-list {
  --card-item: 2;
}
@media screen and (min-width: 768px) {
  .clients-list {
    --card-item: 3;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    --card-item: 6;
  }
}

.clients-icon-link {
  height: 92px;
  background-color: var(--button-color);
  display: flex;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  transition: border var(--transition);
}
.clients-icon-link:hover, .clients-icon-link:focus {
  border: 1px solid var(--accent-color);
}
@media screen and (min-width: 768px) {
  .clients-icon-link {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-icon-link {
    width: 170px;
    height: 92px;
  }
}

.clients-cpmany-icon {
  transition: fill var(--transition);
  fill: #afb1b8;
}
.clients-icon-link:hover .clients-cpmany-icon, .clients-icon-link:focus .clients-cpmany-icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo {
  margin-bottom: 20px;
  justify-content: center;
}
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

.address-item .link {
  transition: color var(--transition);
}

.join {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-white);
  margin-bottom: 20px;
}

.join-label {
  margin-bottom: 20px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .join-label {
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.join-input {
  max-width: 450px;
  width: 100%;
  height: 50px;
  background-color: initial;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--button-color);
}
@media screen and (min-width: 1200px) {
  .join-input {
    width: 358px;
    height: 50px;
  }
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    flex-wrap: nowrap;
  }
}

.address {
  color: var(--adress-color);
  font-style: inherit;
}

.address .link[target=blank] {
  color: var(--button-color);
}

.address-item {
  margin-bottom: 9px;
}

.footer-soc-list {
  display: flex;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-soc-item:last-child {
  margin-right: 0px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 3000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .socials__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .socials__icon {
  fill: var(--logo-white);
}

.footer-soc-icon {
  fill: var(--button-color);
}

.footer .socials__link:hover,
.footer .socials__link:focus {
  background-color: var(--accent-color);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-around;
  align-items: baseline;
  text-align: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer-container {
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-item:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-item:last-child {
    margin-left: auto;
  }
}

.title-layouts {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 4px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.title-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .list-layouts {
    --card-item: 2;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .list-layouts {
    --card-item: 3;
    margin-bottom: 94px;
  }
}

.layouts-item {
  background-color: var(--button-color);
}

.layouts-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: box-shadow var(--transition);
}
.layouts-link:hover, .layouts-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.layouts-con {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  flex-grow: 1;
}

.layouts-thumb {
  position: relative;
  overflow: hidden;
}
.layouts-thumb:hover::before .layouts-thumb:focus::before {
  opacity: 1;
}

.layouts-cards:hover .layouts-thumb::before {
  transform: translateY(0);
}

.layouts-top-text {
  position: absolute;
  top: 0%;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--button-color);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.layouts-link:hover .layouts-top-text, .layouts-link:focus .layouts-top-text {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */