.features-list__item::before {
  display: block;
  content: '';
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-button-color);
  border-radius: 4px;
  margin-bottom: 30px;

  // @media screen and (min-width: 768px) {
  //   width: calc((100% - 30px) / 2);
  // }
  // @media screen and (min-width: 1200px) {
  //   width: calc((100% - 90px) / 4);
  // }
}
.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
.features-list__title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.14;
  color: var(--title-text-color);
  margin-bottom: 10px;
  @include mq(tab) {
    text-align: inherit;
  }
}
