.process-list {
  --card-gep-top: 50px;
  --card-gep-left: 30px;
  --card-item: 3;
}
.item-worck {
  position: relative;
}
.tex-position {
  position: absolute;
  font-weight: 700;
  line-height: 16px;
  color: var(--button-color);
  text-transform: uppercase;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}
.section-worck {
  padding-top: 0px;
  @include mq(mob) {
    display: none;
  }
  @include mq(tab) {
    display: none;
  }
  @include mq(desk) {
    display: block;
  }
}
