.clients {
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
  @include mq(tab) {
    font-size: 28px;
    line-height: 33px;
  }
  @include mq(desk) {
    font-size: 36px;
    line-height: 42px;
  }
}
.clients-list {
  --card-item: 2;

  @include mq(tab) {
    --card-item: 3;
  }
  @include mq(desk) {
    --card-item: 6;
  }
}

.clients-icon-link {
  height: 92px;
  background-color: var(--button-color);
  display: flex;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  transition: border var(--transition);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
  @include mq(tab) {
    width: 226px;
    height: 92px;
  }
  @include mq(desk) {
    width: 170px;
    height: 92px;
  }
}
.clients-cpmany-icon {
  transition: fill var(--transition);
  fill: #afb1b8;
  .clients-icon-link:hover &,
  .clients-icon-link:focus & {
    fill: var(--accent-color);
  }
}
