.menu-mob-logo {
  fill: var(--title-text-color);
  transition: fill var(--transition);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.btn-menu-mob-op {
  display: block;
  margin-left: auto;
  background-color: inherit;
  border: none;
  cursor: pointer;
  @include mq(tab) {
    display: none;
  }
  @include mq(desk) {
    display: none;
  }
}
.btn-menu-mob-close {
  display: block;
  margin-left: auto;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.menu-close-logo {
  fill: var(--title-text-color);
  transition: fill var(--transition);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 48px;
  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
  }
}

.mob-nav {
  padding-left: 40px;
}
.mob-menu-nav {
  margin-bottom: 40px;
}
.mob-menu-item {
  margin-bottom: 32px;
}
.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.mob-nav .mob-menu-link:hover,
.mob-nav .mob-menu-link:focus,
.active {
  color: var(--accent-color);
}
.mob-menu-auth-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  padding-left: 40px;
}
.mob-menu-auth-nav .mob-menu-auth-link:hover,
.mob-menu-auth-nav .mob-menu-auth-link:focus,
.active {
  color: var(--accent-color);
  display: flex;
}
.mob-menu-auth-nav .mob-menu-auth-mail:hover,
.mob-menu-auth-nav .mob-menu-auth-mail:focus {
  color: var(--accent-color);
  display: flex;
}
.mob-menu-auth-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  padding-left: 40px;
}

.mob-menu-auth-nav {
}
.mob-menu-auth-nav-logo {
}
.mob-menu-soc-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mob-menu-soc-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-menu-soc-list {
  display: flex;
  gap: 10px;
  padding-left: 40px;
  padding-top: 64px;
}
