.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include mq(desk) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 30px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
  @include mq(tab) {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 50px;
  }
  @include mq(desk) {
    font-size: 36px;
    line-height: 1.16;
  }
}
